.faq-main{
    min-height: 600px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.faq-main h1{
    margin-bottom: 40px !important;
    font-weight: normal !important;
    color: var(--text-black) !important;
}
.faq-main .all-faqs{
    margin-top: 50px;
}
.faq-main .all-faqs button{
    letter-spacing: 2px;
    width: 250px !important;
    font-size: 15px;
}
.faq-main .ant-collapse-ghost{
    width: 40%;
}
@media(max-width : 1030px){
    .faq-main .ant-collapse-ghost{
        width: 60%;
    }
    }
@media(max-width : 770px){
.faq-main .ant-collapse-ghost{
    width: 100%;
}
}