.featured {
  /* min-height: 1000px; */
  padding: 60px 0 60px 60px;
  background: url("../../assets/back-stone.png"), var(--primary-color);
  /* background-blend-mode: multiply; */
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: auto 30%;
  background-position-x: -50px;
}
.featured .head {
  text-align: center;
}
.featured .head h1 {
  font-family: "Crimson Pro", serif;
  font-weight: normal;
  font-size: 45px;
  /* color: var(--text-black) !important; */
  margin-bottom: 30px !important;
}
.featured img{
object-fit: cover;
}
.featured .head p {
  color: var(--text-white);
  font-size: 17px;
}
.featured .content {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.featured .content p {
  font-size: 19px;
  font-family: "Manrope", sans-serif;
  color: var(--text-white);
}
.featured .content p {
  margin: 20px 0;
}
.react-multi-carousel-list {
  min-height: 700px;
}


@media(max-width : 1030px){
  .react-multi-carousel-list {
    min-height: auto;
  }
}

@media(max-width : 550px){
  .featured {
    padding: 60px;
  }

}