* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Kaushan Script', cursive; */
  /* font-family: 'Manrope', sans-serif; */
  /* font-family: 'Crimson Pro', serif; */
  /* background-color: #eaeaea; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #778899 !important; */
  color: var(--text-white) !important;
  letter-spacing: 1px;
  margin-bottom: 0 !important;
  /* font-weight: normal !important; */
}
p {
  font-family: "Manrope", sans-serif;
}

.kaushan-general {
  font-family: "Kaushan Script", cursive;
  margin: 0 15px;
  font-size: 45px;
}
.white,
.white h1 {
  color: var(--text-white) !important;
}
.black,
.black h1 {
  color: var(--text-black) !important;
}

.btn-center {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

.primaryBtn {
  width: 100%;
  background-color: var(--primary-color);
  padding: 4px;
  border: 2px solid var(--primary-color);
  color: white;
  font-weight: 500;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 1rem;
  cursor: pointer;
}
.primaryBtn:hover {
  background-color: transparent;
  color: var(--primary-color);
}
