.layout-main .children {
  padding-top: 70px;
}
.layout-main .header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.layout-main .center {
  text-align: center;
  width: 100% !important;
}
.layout-main .header-section {
  /* background: url("../assets/home-bg.png"); */
  height: 100vh;
  width: 100%;
  padding-bottom: 30px;
  background-repeat: no-repeat !important;
  /* background-size: auto; */
  background-size: 100% 100% !important;
}
/* content */
.layout-main .head-content h1 {
  font-size: 4rem;
  /* font-size: 70px; */
  width: 65%;
  /* width: 45%; */
  padding-left: 50px;
  font-family: "Manrope", sans-serif;
}
.layout-main .head-content h1 span {
  font-family: "Kaushan Script", cursive;
  margin-left: 10px;
  border-bottom: 4px solid white;
}

.layout-main .mouse-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-white);
}
.layout-main .mouse-section p {
  letter-spacing: 2px;
  font-weight: bold;
}
.layout-main .mouse-section img {
  transition: 0.3s;
}
.layout-main .mouse-section img:hover {
  transform: translateY(10px);
  cursor: pointer;
}

@media (max-width: 1030px) {
  .layout-main .head-content h1 {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .layout-main .head-content h1 {
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
  }
  .layout-main .center {
    padding: 0 20px;
    font-size: 0.5rem;
  }
}
